apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - networkpolicies.yaml
  - externalsecret.yaml
  - httproute.yaml
  # values.yaml is used by Helm, not Kustomize
